[package]
name = "watchtower"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4.41"
rand = "0.9.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[lib]
path = "src/lib.rs"

[features]
default = []
debug_mode = []
